//- Extends and variables start

extends ../layout/main

//- HTML start

block content

        .container.policy-page
            .row
                .col-lg-12
                    p
                    | Обработка персональных данных посетителя сайта #{websiteUrl} (далее — Пользователя) осуществляется в соответствии с законодательством Российской Федерации.
                    p
                    | Администрация Ресурса обрабатывает персональные данные Пользователя в целях предоставления Пользователю услуг, в том числе, в целях получения Пользователем персонализированной (таргетированной) рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы сайта #{websiteUrl} (далее — Ресурса), а также разрабатывать новые сервисы и разделы Ресурса.
                    p
                    | Администрация Ресурса принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация Ресурса предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации Ресурса, которым эта информация необходима для обеспечения функционирования Ресурса и предоставления Услуг Пользователю.
                    p
                    | Администрация Ресурса вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей).
                    p
                    | Раскрытие предоставленной Пользователем информации может быть произведено в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.
                    p
                    | Пользователь подтверждает свое согласие на обработку Администрацией Ресурса его персональных данных, предоставленных при заполнении форм заявок на сайте #{websiteUrl}.
                    p
                    | Соглашение на обработку персональных данных вступает в силу с момента выражения Вами согласия с его условиями путем заполнения заявок на сайте #{websiteUrl}
                    p
                    | Лицо, желающее заключить данное соглашение, должно заполнить регистрационную форму путем внесения в нее необходимых персональных данных. Персональные данные представляются согласно разделам формы заявки. Они включают истинные Фамилию и Имя, e-mail и телефон.
                    p
                    | Настоящее соглашение является публичной офертой и адресовано неопределенному кругу лиц. Отправка формы заявки на сайте #{websiteUrl} является акцептом данной оферты.
                    p
                    | В любой момент времени Пользователь имеет право требовать удаления представленных личных данных из базы данных, а также отказаться отпредоставления e-mail рассылки, известив об этом Администрацию Ресурса в письменном виде, воспользовавшись контактными данными, указанными на  Ресурсе #{websiteUrl}

//- HTML end
